{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %} 

    <!-- Content Row -->
    <div class="row">
        <button type="button" class="btn btn-success btn-lg active" role="button" aria-pressed="true">
            <a style="color: #fff; font-size: 18px;" href="{{ path('admin_post_add') }}">{% trans %}blog.add{% endtrans %}</a>
        </button> <br/>
         <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                <th class="th-sm" {% if pagination.isSorted('a.title') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}
                </th>
                <th class="th-sm" {% if pagination.isSorted('a.content') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Contenu', 'a.content') }}
                </th>
                <th class="th-sm" {% if pagination.isSorted('a.datePublication') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Date publication', 'a.datePublication') }}
                </th>
                <th class="th-sm">{% trans %}post.operations{% endtrans %} </th>
                </tr>
            </thead>
            <tbody>
                 {% for post in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ post.title}}</td>
                    <td>{{ post.content|slice(0, 50)}} ...</td>
                    <td>{{ post.datePublication|date('Y-m-d')}}</td>
                    <td> 
                        <a href="{{ path('post_show', {slug: post.slug}) }}" class="btn btn-warning btn-sm"> {% trans %}blog.show{% endtrans %} </a>
                        <a href="{{ path('admin_post_edit', {slug: post.slug}) }}" class="btn btn-primary btn-sm">{% trans %}blog.update{% endtrans %}</a> 
                        <a href="{{ path('admin_post_delete', {slug: post.slug}) }}" class="btn btn-danger btn-sm">{% trans %}blog.delete{% endtrans %}</a>
                    </td>
                </tr>
                {% endfor %} 
            </tbody>
            <tfoot>
                <tr>
                <td colspan='4' >
                        {{ knp_pagination_render(pagination) }}
                         
                </td>
                </tr>
            </tfoot>

                    

        </table>
    </div>
    <!-- /.row -->
{% endblock %}
